body{
    background-color: #212121;
    color: #fff;
}

.container{
    background-color: rgb(77, 71, 71);
    border-radius: 10px;
    border-color: darkgray;
    border-width: 10px;
    padding: 20px;
}
.vert-menu{
    background-color: #fff;
    height: 100px;
    width:15%;
    float: left;
}