body{
    background-color: #212121;
    color: #fff;
}

.container{
    background-color: rgb(77, 71, 71);
    border-radius: 10px;
    border-color: darkgray;
    border-width: 10px;
    padding: 20px;
}
.pageCarousel{
    padding-inline: 100px;
    background-color: cornflowerblue;
}
.carousel-item >img{
    height: 500px;
    width:400px
}

.navbar-nav li >button{
    text-decoration: none;
    color: aqua;
    background-color: darkblue;
    height: 30px;
}

.navbar-nav span>ion-icon{
    font-size: 20px;
    margin-top: 15px;
    margin-right: 10px;
    font-weight:100px;
}

@font-face {
    font-family: tdfont;
    src: url(../css/Quicksand-VariableFont_wght.ttf);
}

.modal h1 {
    font-family: tdfont;
    text-align: center;
    font-size: 30px !important;
    color: rgb(236, 233, 7);
    background-color: #3c99dc;
  }
  
  .modal h3 {
    font-family: tdfont;
    font-size: 25px !important;
    color: rgb(229, 233, 0);
    font-weight: 600;
  }
  
  .modal-header {
    background-color: #3c99dc;
    font-family: tdfont;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
  
  .modal-body {
    background-color: #66d3fa;
    color: rgb(30, 18, 100);
  }
  
  .modal-footer {
    background-color: #2565ae;
  }