body {
  background-color: #202020;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../img/bg-main.jpg);
}

.container-lg-1 {
  background-image: url(../img/myProduct-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 3px solid;
  border-color: limegreen;
  border-width: 10px;
  padding: 20px;
}

.navbar .container-fluid img {
  height: 80px;
  width: 150px;
  margin-top: 10px;
}

.navbar .container-fluid {
  height: 70px;
}

.navbar-nav {
  justify-content: center;
}

.pageCarousel {
  padding-inline: 100px;
  background-color: transparent;
}

.carousel-item>img {
  height: 500px;
  width: 100%;
}

.navbar,
.about {
  font-family: tdfont;
  font-weight: bolder;
}

/*  Cards */
.abt_cards .container .row .card {
  background-color: transparent;
  align-items: center;
  border: 2px solid limegreen;
  border-radius: 10px;
}

.abt_cards .container .row .card ion-icon {
  font-size: 140px;
}

.abt_cards .container .row .card img {
  height: 150px;
  width: 150px;
}

.abt_cards .container .row .card p {
  font-size: 24px;
  line-height: 28px;
  color: white;
  font-weight: 700;
  font-family: "Quicksand";
  text-align: center;
}


.col-6 img {
  max-width: 400px;
  margin-left: 150px;
}

.about .container>p {
  max-width: 100%;
  line-height: 37px;
  text-transform: uppercase;
  color: #404142;
  font-weight: 700;
  font-size: 30px;
  font-family: "Quicksand";
}

.heading {
  background-image: url(../img/bg-main.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Quicksand";
  font-weight: bolder;
}

.heading .col-lg-4>h3 {
  color: beige;
  font-weight: bolder;
  font-size: 200%;
}

.heading .col-lg-4>h2 {
  font-family: mainFont;
  font-size: 100px;
  color: #aab33c;
}

@media screen and (max-width: 768px) {
  .tools .container img {
    display: none;
  }
}

.heading ul>button {
  background-color: #aab33c;
  border-style: none;
  font-family: "Quicksand";
  font-weight: bolder;
}

.heading .col-lg-4>button {
  width: 235px;
  height: 47px;
  background-color: #aab33c;
  border-style: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Quicksand";
  text-align: center;
}

@font-face {
  font-family: mainFont;
  src: url(../css/font.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(../css/Quicksand-VariableFont_wght.ttf);
}


.navbar-nav li>button {
  text-decoration: none;
  color: rgb(230, 224, 224);
  background-color: #202020;
  min-height: 70px;
  font-size: 18px;
  margin-top: 20px;
  font-weight: bolder;
  height: 30px;
  border: 3px solid limegreen;
  border-radius: 30px;
  padding-bottom: 20px;

}

.navbar-nav li a {
  font-size: 18px;
  font-weight: bolder;
}

.navbar-nav li a:hover {
  border: 3px solid limegreen;
  border-radius: 30px;
  color: limegreen !important;

}

.navbar-nav span>ion-icon {
  font-size: 25px;
  margin-top: 15px;
  margin-right: 10px;
  font-weight: 100px;
}

#loginMenu>h5 {
  padding-right: 50px;
  padding-top: 20px;
}

@font-face {
  font-family: tdfont;
  src: url(../css/Quicksand-VariableFont_wght.ttf);
}

.modal h1 {
  font-family: tdfont;
  text-align: center;
  font-size: 30px !important;
  color: rgb(60, 236, 7);
  background-color: #202020;
}

.modal h3 {
  font-family: tdfont;
  font-size: 25px !important;
  color: rgb(85, 233, 0);
  font-weight: 600;
}

#signUpModel .modal-title ion-icon {
  align-items: center;
  font-size: 50px;
  padding-top: 10px;
  padding-left: 100px;
}

.modal-header .btn-close {
  background-color: #e8dfe9;
}

.modal-header,
.modal-title {
  background-color: #202020;
  font-family: tdfont;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.modal-body,form{
  background-image: url(../img/80042.jpg);
  background-position: center;
  background-size: cover;
  color: limegreen;
}

.modal-body input,
label {
  color: black;
  font-family: tdfont;
  font-weight: bold;
}

.modal-footer {
  background-color: #202020;
}

.col-4 {
  font-family: tdfont;
  height: auto;
  width: 400px;
  background-color: transparent;
  background-position: center;
  margin-left: 100px;
  border-radius: 20px;
}

.col-4 h3 {
  color: indigo;
  animation: changebg 10s infinite;
}

.marketNews {
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
}

@keyframes changebg {
  0% {
    color: #F5F0BB;
  }

  25% {
    color: #DBDFAA;
  }

  50% {
    color: #B3C890;
  }

  75% {
    color: #73A9AD;
  }

  100% {
    color: #FEA1A1;
  }
}

.footer {
  background-color: #B3C890;
  text-align: center;
}

.footer h5 {
  color: black;
}


.dropbtn {
  color: rgb(233, 230, 225);
  font-family: tdfont;
  padding: 16px;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 20px;
  border: 3px solid limegreen;
  background-color: #202020;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content .btn {
  color: #071920;
  font-weight: bolder;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #202020;
  font-weight: bolder;
  font-family: tdfont;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -15px;
  min-width: 160px;
}

.dropdown-content button {
  color: white !important;
  padding: 12px 16px;
  display: block;
  font-weight: 200px;
  font-family: tdfont;
  border: 3px solid #202020;
  border-radius: 30px;
}

ion-icon {
  padding-right: 10px;
}

.dropdown-content ion-icon {
  font-size: 25px;
}

.dropdown-content button:hover {
  border-color: limegreen;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-color: #882d44;
}


.products,
#myItems,
#myRequests {
  margin-top: 40px;
  color: limegreen !important;
}

#prod_list ion-icon {
  font-size: 24px;
}

.tab-content,
.nav-tabs {
  font-family: tdfont;
  font-size: large;

}

.tab_icon {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(245, 245, 244) !important;
  background-color: transparent !important;
}

.nav-tabs .nav-link.active {
  border-radius: 30px;
  border: 3px solid limegreen !important;
}

.myTable {
  border-radius: 30px;
}

.alert {
  font-family: tdfont;
  font-size: 20px;
  font-weight: bolder;
  max-width: 40%;
  text-align: center;
  justify-content: center;
  margin-left: 30%;
}

.table {
  background-image: url(../img/myProduct-bg.png);
  color: #e8dfe9;
  font-size: 20px;
  font-weight: bolder;
  background-position: center;
  background-size: cover;
}

.tab-pane {
  background-image: url(../img/caro-img-1.jpg);
  background-size: cover;
  background-position: bottom;
}

.transbox {
  -webkit-backdrop-filter: blur(600px);
  backdrop-filter: blur(600px);
  padding: 20px;
  margin: 30px;
  font-weight: bold;
}

/* Footer  */
.main-footer{
  background-color: #202020;
  color: #fff;
  font-weight: bold;
  font-family:Quicksand ;
  margin-top: auto;
}

.main-footer h6{
  font-size: 30px;
  color: #fff;
}

.main-footer i,a{
  font-size: 20px;
  text-decoration: none;
  color: #e8dfe9;
  padding: 5px;
}
.main-footer input{
  border: 2px solid limegreen;
  border-radius: 10px;
  color: #202020;
  font-weight: bold;
}

.main-footer .col-md-6{
  border-right: 2px solid limegreen;
}

#show-noti .alert{
  text-align: left;
  
}